body {
    background: #f4f6f9;
    transition: 0.3s;
}

.dark-mode {
    background: #0f172a;
    color: #fff;
}

.dark-mode .card {
    background: #1e293b;
    color: #fff;
}

.topo {
    background: linear-gradient(90deg, #198754, #145c32);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-theme {
    background: none;
    border: none;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.foto-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}